%article.home
  = provide(:title, "Home")
  = render 'layouts/partials/header_wrap'
  = render 'pages/partials/a_services'
  = render 'pages/partials/b_portfolio'
  = render 'pages/partials/c_feature'
  -# = render 'pages/partials/d_clients'
  = render 'pages/partials/e_story'
