/ PORTFOLIO SECTION
#dg
  .container
    .row.centered
      %h4 LATEST WORKS
      %br/
      .col-lg-4
        .tilt
          = link_to projects_path do
            = image_tag asset_path('project_1.png'), alt: "Ahmed Nadar"
      .col-lg-4
        .tilt
          = link_to projects_path do
            = image_tag asset_path('project_2.png'), alt: "Ahmed Nadar"
      .col-lg-4
        .tilt
          = link_to projects_path do
            = image_tag asset_path('project_3.png'), alt: "Ahmed Nadar"
    / row
  / container
/ DG
