#lg
  .container
    .row.centered
      %h4 OUR AWESOME CLIENTS
      .col-lg-2.col-lg-offset-1
        = image_tag asset_path('c01.gif'), class: "", alt: "Ahmed Nadar"
      .col-lg-2
        = image_tag asset_path('c02.gif'), class: "", alt: "Ahmed Nadar"
      .col-lg-2
        = image_tag asset_path('c03.gif'), class: "", alt: "Ahmed Nadar"
      .col-lg-2
        = image_tag asset_path('c04.gif'), class: "", alt: "Ahmed Nadar"
      .col-lg-2
        = image_tag asset_path('c05.gif'), class: "", alt: "Ahmed Nadar"
    / row
  / container
/ dg
