!!!
%html
  = render 'layouts/partials/head'
  %body
    = render 'layouts/partials/header'
    = yield
    = render 'layouts/partials/footer'
    = render 'layouts/partials/contact_modal'
    -# Place JavaScript at the end of the document so the pages load faster
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
